<div class="bootstrap-styles grids--eleven-columns-eleven_columns">
  <div class="container" data-gjs-type="default">
    <div class="row">
      <div class="col" data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div> <div class="col"
        data-gjs-type="default"></div>
    </div>
  </div>
</div>
