{{ attach_library('undefined/organism-shareholder-card') }}
<div class="bootstrap-styles shareholder-card-ede06d9d-e37b-9891-c7a7-97514380716d">
  <div id="iq8s">
    {% include 'atoms/grids/grids--two-columns.twig' with {} %}
  </div>
</div>
