{% if
  example_2_1_molecules_example_2_1_component_image_photo_img_source
    and example_2_1_molecules_example_2_1_component_image_photo_img_alt_text
    and example_2_1_molecules_example_2_2_component_image_photo_img_source
    and example_2_1_molecules_example_2_2_component_image_photo_img_alt_text
    and example_2_1_molecules_example_2_1_component_text_umbrella
    and example_2_1_molecules_example_2_2_component_text_umbrella
    and example_2_1_molecules_example_2_1_component_link_link_title
    and example_2_1_molecules_example_2_1_component_link_link_link %}
  <div class="bootstrap-styles example-2-61a08564-3cf9-0976-f47a-e22e3381fe52">
    <div>
      {% embed 'undefined:molecules--example-2'
        with {
          molecules_example_2_1_component_image_photo_img_source: example_2_1_molecules_example_2_1_component_image_photo_img_source,
          molecules_example_2_1_component_image_photo_img_alt_text: example_2_1_molecules_example_2_1_component_image_photo_img_alt_text,
          molecules_example_2_2_component_image_photo_img_source: example_2_1_molecules_example_2_2_component_image_photo_img_source,
          molecules_example_2_2_component_image_photo_img_alt_text: example_2_1_molecules_example_2_2_component_image_photo_img_alt_text,
          molecules_example_2_1_component_text_umbrella: example_2_1_molecules_example_2_1_component_text_umbrella,
          molecules_example_2_2_component_text_umbrella: example_2_1_molecules_example_2_2_component_text_umbrella,
          molecules_example_2_1_component_link_link_title: example_2_1_molecules_example_2_1_component_link_link_title,
          molecules_example_2_1_component_link_link_link: example_2_1_molecules_example_2_1_component_link_link_link
        }
      %}

      {% endembed %}
    </div>
  </div>
{% endif %}
