{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {% if
        content.photo_img_source
          and content.photo_img_alt_text
          and content.photo_new_img_source
          and content.photo_new_img_alt_text
          and content.umba
          and content.umba_new
          and content.link_title
          and content.link_link %}
        <div class="bootstrap-styles molecules--example-2-b19123b7-c4c9-740e-9b10-583692bc86a4">
          {% set link_title = content.link_title[0]['title'] %}
          {% set link_link = content.link_title[0]['#url'] %}
          {% set photo_new_img_source =
            file_url(content.photo_new_img_source[0]['#item'].entity.uri.value)
          %}
          {% set photo_new_img_alt_text =
            content.photo_new_img_source[0]['#item'].entity._referringItem.alt
          %} {% set photo_img_source =
            file_url(content.photo_img_source[0]['#item'].entity.uri.value)
          %}
          {% set photo_img_alt_text =
            content.photo_img_source[0]['#item'].entity._referringItem.alt
          %} <div>
            {% include 'undefined:component--image' with {
              component_image_photo_img_source: photo_img_source,
              component_image_photo_img_alt_text: photo_img_alt_text
            } %}
          </div>
          <div>
            {% include 'undefined:component--image' with {
              component_image_photo_img_source: photo_new_img_source,
              component_image_photo_img_alt_text: photo_new_img_alt_text
            } %}
          </div>
          <div>
            {% include 'undefined:component--text' with {
              component_text_umbrella: content.umba[0]
            } %}
          </div>
          <div>
            {% include 'undefined:component--text' with {
              component_text_umbrella: content.umba_new[0]
            } %}
          </div>
          <div>
            {% include 'undefined:component--link' with {
              component_link_link_title: link_title,
              component_link_link_link: link_link
            } %}
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
