{% if
  example_3_1_molecules_example_1_1_component_text_umbrella
    and example_3_1_molecules_example_1_1_component_image_photo_img_source
    and example_3_1_molecules_example_1_1_component_image_photo_img_alt_text
    and example_3_1_molecules_example_1_1_component_link_link_title
    and example_3_1_molecules_example_1_1_component_link_link_link
    and example_3_2_molecules_example_1_1_component_text_umbrella
    and example_3_2_molecules_example_1_1_component_image_photo_img_source
    and example_3_2_molecules_example_1_1_component_image_photo_img_alt_text
    and example_3_2_molecules_example_1_1_component_link_link_title
    and example_3_2_molecules_example_1_1_component_link_link_link %}
  <div class="bootstrap-styles example-3-c8ed93f5-6645-d745-33b5-a8030702f76b">
    <div>
      {% embed 'undefined:molecules--example-1'
        with {
          molecules_example_1_1_component_text_umbrella: example_3_1_molecules_example_1_1_component_text_umbrella,
          molecules_example_1_1_component_image_photo_img_source: example_3_1_molecules_example_1_1_component_image_photo_img_source,
          molecules_example_1_1_component_image_photo_img_alt_text: example_3_1_molecules_example_1_1_component_image_photo_img_alt_text,
          molecules_example_1_1_component_link_link_title: example_3_1_molecules_example_1_1_component_link_link_title,
          molecules_example_1_1_component_link_link_link: example_3_1_molecules_example_1_1_component_link_link_link
        }
      %}

      {% endembed %}
    </div>
    <div>
      {% embed 'undefined:molecules--example-1'
        with {
          molecules_example_1_1_component_text_umbrella: example_3_2_molecules_example_1_1_component_text_umbrella,
          molecules_example_1_1_component_image_photo_img_source: example_3_2_molecules_example_1_1_component_image_photo_img_source,
          molecules_example_1_1_component_image_photo_img_alt_text: example_3_2_molecules_example_1_1_component_image_photo_img_alt_text,
          molecules_example_1_1_component_link_link_title: example_3_2_molecules_example_1_1_component_link_link_title,
          molecules_example_1_1_component_link_link_link: example_3_2_molecules_example_1_1_component_link_link_link
        }
      %}

      {% endembed %}
    </div>
  </div>
{% endif %}
