{% if component_link_link_title and component_link_link_link %}
  <div class="bootstrap-styles component--link-6b7f7360-d401-ad3a-ef52-724e157abf7f">
    {% if component_link_link %}
      <a href="{{ component_link_link }}">{{ component_link_link }}</a>
    {% endif %}
  </div>
{% endif %}
