.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 .h1 {
  color: rgb(255, 255, 255);
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774
  .d-inline-flex.rounded-pill.text-decoration-none.fs-5.custom-primary-button {
  margin-top: 0px;
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #iq0h-2 {
  font-family: Neue-Haas-Grotesk-DSPro-35-Extra-Light;
  font-size: 4em;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #igijk {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #ik7n::before {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #iqevs {
  margin-bottom: 4rem;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #ir5wh {
  margin-bottom: 2rem;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #ic1g5 {
  margin-bottom: 32px;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #iwpxp {
  margin-right: 32px;
}
.banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774 #ir9p3 {
  margin-right: 32px;
}
