{{ attach_library('undefined/organism-banner-slider') }}
<div class="bootstrap-styles banner-slider-ca3efe8f-aea3-463a-fd67-eb8dbf82c774">
  <div id="ik7n" class="position-relative">
    {% include 'atoms/image/image--card-image.twig' with {} %}
    <div id="igijk">
      {% include 'atoms/grids/grids--one-column.twig' with {} %}
    </div>
  </div>
</div>
