.hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8 #iq0h-2 {
  font-family: Neue-Haas-Grotesk-DSPro-35-Extra-Light;
  font-size: 4em;
}
.hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8 #igijk {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8 #ik7n::before {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8 #iqevs {
  margin-bottom: 4rem;
}
.hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8 #ir5wh {
  margin-bottom: 2rem;
}
