{{ attach_library('undefined/organism-hero-banner') }}
{% if hero_banner_title %}
  <div class="bootstrap-styles hero-banner-a5abc75b-8ef7-c638-7173-4e71d4e072f8">
    <div id="ik7n" class="position-relative">
      {% include 'atoms/image/image--card-image.twig' with {} %}
      <div id="igijk">
        {% include 'atoms/grids/grids--one-column.twig' with {} %}
      </div>
    </div>
  </div>
{% endif %}
