{% if component_text_umbrella %}
  <div class="bootstrap-styles component--text-59c68146-0d07-d3e5-1a73-28c16af5dff0">
    <div class="alert alert-primary" role="alert">
      {{ component_text_umbrella }}
    </div>
  </div>
{% endif %}
