.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iecg-2 {
  font-size: 1.5em;
  font-family: Neue-Haas-Grotesk-DSPro-45-Light;
}
.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iasl-2 {
  font-size: 1em;
  font-weight: 500;
  font-family: Neue-Haas-Grotesk-TXPro-55-Regular;
}
.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iecg-3 {
  font-size: 1.5em;
  font-family: Neue-Haas-Grotesk-DSPro-45-Light;
}
.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iasl-3 {
  font-size: 1em;
  font-weight: 500;
  font-family: Neue-Haas-Grotesk-TXPro-55-Regular;
}
.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iecg-4 {
  font-size: 1.5em;
  font-family: Neue-Haas-Grotesk-DSPro-45-Light;
}
.team-member-card-3b1105eb-96c5-aa80-e03b-093336182322 #iasl-4 {
  font-size: 1em;
  font-weight: 500;
  font-family: Neue-Haas-Grotesk-TXPro-55-Regular;
}
