{{ attach_library('undefined/organism-team-member-card') }}
<div class="bootstrap-styles team-member-card-3b1105eb-96c5-aa80-e03b-093336182322">
  <div id="ig51">
    {% include 'atoms/grids/grids--four-columns.twig' with {} %}
  </div>
</div>
