.company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #ieme-2 {
  padding-top: 2.5rem;
  padding-right: 4rem;
  padding-bottom: 2.5rem;
  padding-left: 4rem;
}
.company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #iecg-2 {
  font-size: 1em;
  font-family: Neue-Haas-Grotesk-DSPro-45-Light;
}
.company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #ieme-3 {
  padding-top: 2.5rem;
  padding-right: 4rem;
  padding-bottom: 2.5rem;
  padding-left: 4rem;
}
.company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #iecg-3 {
  font-size: 1em;
  font-family: Neue-Haas-Grotesk-DSPro-45-Light;
}
@media (max-width: 992px) {
  .company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #ieme-2 {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .company-block-2f8cc934-ee7a-4ecf-ce02-0453c82ef519 #ieme-3 {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
}
