.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 .h1 {
  color: rgb(255, 255, 255);
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 .para1 {
  color: rgb(255, 255, 255);
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87
  .d-inline-flex.rounded-pill.text-decoration-none.fs-5.custom-primary-button {
  margin-top: 0px;
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 #itk7o {
  position: absolute;
  bottom: 0px;
  left: 72px;
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 #ikf5 {
  position: relative;
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 #ioztg {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}
.banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87 #i6oy {
  height: 617px;
}
