.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7 .h1 {
  color: rgb(255, 255, 255);
}
.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7 .para1 {
  color: rgb(255, 255, 255);
}
.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7
  .d-inline-flex.rounded-pill.text-decoration-none.fs-5.custom-primary-button {
  margin-top: 0px;
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7 #itk7o {
  position: absolute;
  bottom: 0px;
  left: 72px;
}
.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7 #ioztg {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}
.banner--banner-slider-1-redesign-a11dde15-b46d-3bd1-27ec-22855db518e7 #i6ks {
  position: relative;
}
