{{ attach_library('undefined/molecule-banner--mid-banner') }}
<div class="bootstrap-styles banner--mid-banner-default-8c3f49f3-408f-0bec-bd62-7129f10c6ae1">
  {% include 'molecules/card/card--mid-banner.twig' with {} %}
</div>
