{{ attach_library('undefined/molecule-banner--banner-slider') }}
<div class="bootstrap-styles banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc">
  {% include 'molecules/banner/banner--mid-banner.twig' with {} %}
  <div id="iu7ic">
    {% include 'atoms/image/image--banner-background.twig' with {} %}
  </div>
  <div id="iwzlk">
    {% include 'atoms/heading/heading--paragraph-1.twig' with {} %}
  </div>
</div>
