.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc
  .d-inline-flex.rounded-pill.text-decoration-none.fs-5.custom-primary-button {
  margin: 0px 31px 0px 72px;
  margin-top: 0px;
  margin-right: 31px;
  margin-bottom: 0px;
  margin-left: 72px;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #imt1 {
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc .h2 {
  margin: 0px 0px 0px 0px;
  padding: 287px 0px 8px 72px;
  border: 0px solid black;
  color: rgb(255, 255, 255);
  padding-top: 287px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 72px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc .para1 {
  margin: 0 0 0 0;
  padding: 0px 0px 0px 72px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 0px solid black;
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 72px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #i9av {
  margin: 0px 0px 0px 0px;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #ie8h {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #iq07 {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  line-height: 24px;
}
.banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #ifgo {
  background-image: url("https://dev-fragmatic-builder-node.oslabs.app/public/assets/image.png");
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-attachment: scroll;
  background-size: auto;
  height: 617px;
}
@media (max-width: 992px) {
  .banner--banner-slider-d7f85767-d845-aa98-9e77-af39c551f7cc #i9av {
    font-size: 2em;
  }
}
