{{ attach_library('undefined/molecule-banner--banner-slider-1') }}
<div class="bootstrap-styles banner--banner-slider-1-cc06ae5a-fb5d-4397-99a7-24cf06b03d87">
  <div id="ikf5">
    {% include 'atoms/image/image--banner-background.twig' with {} %}
    <div id="itk7o">
      {% include 'atoms/heading/heading--h-1.twig' with {} %}
      <div id="isgd9">
        {% include 'atoms/heading/heading--paragraph-1.twig' with {} %}
        <div id="ioztg">
          {% include 'atoms/button/button--primary.twig' with {
            button_primary_button: ''
          } %}
          <div id="ivweq">
            {% include 'atoms/button/button--secondary-white.twig' with {} %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
