{% if component_image_photo %}
  <div class="bootstrap-styles component--image-622eab5e-ba74-7333-5086-ed9365cce3aa">
    <img class="{{ component_image_photo.img_styles }}"
      src="{{ component_image_photo.img_source }}"
      alt="{{ component_image_photo.img_alt_text }}" />
  </div>
{% endif %}
