{% if component_link_link %}
  <div class="bootstrap-styles component--link-6b7f7360-d401-ad3a-ef52-724e157abf7f">
    <a href="{{ component_link_link.url }}">{{ component_link_link.title }}</a>
  </div>
{% endif %}
