{{ attach_library('undefined/organism-ir-footer') }}
<div class="bootstrap-styles ir-footer-59e4ee5e-8a07-ce9d-026e-18fe8f85fb40">
  <div id="i8ov">
    {% include 'atoms/grids/grids--one-column.twig' with {} %}
  </div>
</div>
