.ir-footer-59e4ee5e-8a07-ce9d-026e-18fe8f85fb40 #irfkl {
  padding-top: 0px;
  padding-right: 2.5rem;
  padding-bottom: 0px;
  padding-left: 2.5rem;
}
.ir-footer-59e4ee5e-8a07-ce9d-026e-18fe8f85fb40 #immj9 {
  padding-top: 0px;
  padding-right: 2.5rem;
  padding-bottom: 0px;
  padding-left: 2.5rem;
  margin-bottom: 32px;
}
